<div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden">
    <mat-drawer-container
        class="bg-card h-full flex-auto dark:bg-transparent"
        (backdropClick)="onBackdropClicked()"
    >
        <!-- Drawer -->
        <mat-drawer
            class="w-full md:w-160 dark:bg-gray-900"
            [mode]="drawerMode"
            [opened]="false"
            [position]="'end'"
            [disableClose]="true"
            #matDrawer
        >
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">
            <!-- Main -->
            <div class="flex-auto">
                <!-- Header -->
                <div
                    class="flex flex-auto flex-col justify-between border-b px-6 py-8 sm:flex-row md:flex-col md:px-8"
                >
                    <!-- Title -->
                    <div>
                        <div
                            class="text-4xl font-extrabold leading-none tracking-tight"
                        >
                            {{ 'HOME.USERS.TITLE' | transloco }}
                        </div>
                        <div class="text-secondary ml-0.5 font-medium">
                            @if (usersCount > 0) {
                                {{ usersCount }}
                            }
                            {{
                                usersCount
                                    | i18nPlural
                                        : {
                                              '=0':
                                                  'HOME.USERS.NO_USERS'
                                                  | transloco,
                                              '=1':
                                                  'HOME.USERS.USER' | transloco,
                                              other:
                                                  'HOME.USERS.USERS'
                                                  | transloco,
                                          }
                            }}
                        </div>
                    </div>

                    <!-- Main actions -->
                    <div class="mt-4 flex items-center sm:mt-0 md:mt-4">
                        <!-- Search -->
                        <div class="flex-auto">
                            <mat-form-field
                                class="fuse-mat-dense fuse-mat-rounded w-full min-w-50"
                                subscriptSizing="dynamic"
                            >
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="
                                        'heroicons_solid:magnifying-glass'
                                    "
                                ></mat-icon>
                                <input
                                    matInput
                                    [formControl]="searchInputControl"
                                    [autocomplete]="'off'"
                                    [placeholder]="
                                        'HOME.USERS.SEARCH' | transloco
                                    "
                                />
                            </mat-form-field>
                        </div>
                        <!-- Add user button -->
                        <button
                            class="ml-4"
                            mat-flat-button
                            [color]="'primary'"
                            [routerLink]="['./add']"
                        >
                            <mat-icon
                                [svgIcon]="'heroicons_outline:plus'"
                            ></mat-icon>
                            <span class="ml-2 mr-1">{{
                                'HOME.USERS.ADD' | transloco
                            }}</span>
                        </button>
                    </div>
                </div>

                <!-- Users list -->
                <div class="relative">
                    @if (filteredUsers$ | async; as users) {
                        @if (users.length) {
                            @for (
                                user of users;
                                track trackByFn(i, user);
                                let i = $index
                            ) {
                                <!-- Group -->
                                @if (
                                    i === 0 ||
                                    user.lastName.charAt(0) !==
                                        users[i - 1].lastName.charAt(0)
                                ) {
                                    <div
                                        class="text-secondary sticky top-0 z-10 -mt-px border-b border-t bg-gray-50 px-6 py-1 font-medium uppercase md:px-8 dark:bg-gray-900"
                                    >
                                        {{ user.lastName.charAt(0) }}
                                    </div>
                                }
                                <!-- User -->
                                <a
                                    class="z-20 flex cursor-pointer items-center border-b px-6 py-4 md:px-8"
                                    [ngClass]="{
                                        'dark:hover:bg-hover hover:bg-gray-100':
                                            !selectedUser ||
                                            selectedUser.id !== user.id,
                                        'bg-primary-50 dark:bg-hover':
                                            selectedUser &&
                                            selectedUser.id === user.id,
                                    }"
                                    [routerLink]="['./', user.id]"
                                >
                                    <div
                                        class="flex h-10 w-10 flex-0 items-center justify-center overflow-hidden rounded-full"
                                    >
                                        @if (user.profilePictureToBase64) {
                                            <img
                                                class="h-full w-full object-cover"
                                                [src]="
                                                    'data:image/jpeg;base64,' +
                                                    user.profilePictureToBase64
                                                "
                                                alt="User avatar"
                                            />
                                        }
                                        @if (!user.profilePictureToBase64) {
                                            <div
                                                class="flex h-full w-full items-center justify-center rounded-full bg-gray-200 text-lg uppercase text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                                            >
                                                {{
                                                    user.firstName.charAt(0) +
                                                        user.lastName.charAt(0)
                                                }}
                                            </div>
                                        }
                                    </div>
                                    <div class="ml-4 min-w-0">
                                        <div
                                            class="truncate font-medium leading-5"
                                        >
                                            {{
                                                user.lastName +
                                                    ' ' +
                                                    user.firstName
                                            }}
                                        </div>
                                        <div
                                            class="text-secondary truncate leading-5"
                                        >
                                            {{ user.email }}
                                        </div>
                                    </div>
                                    <div class="ml-auto flex">
                                        @if (user.userRoles.length) {
                                            <div
                                                class="mr-6 hidden gap-2 sm:flex"
                                            >
                                                @for (
                                                    userRole of user.userRoles;
                                                    track trackByFn(
                                                        $index,
                                                        userRole.role.id
                                                    )
                                                ) {
                                                    @if (
                                                        userRole.role.product
                                                    ) {
                                                        <img
                                                            [src]="
                                                                userRole.role
                                                                    .product
                                                                    .iconUrl
                                                            "
                                                            class="w-6"
                                                        />
                                                    }
                                                }
                                            </div>
                                        }
                                        <!-- Email Confirmed -->
                                        <div class="ml-6">
                                            <mat-icon
                                                class="text-2xl {{
                                                    user.emailConfirmed
                                                        ? 'text-green-500'
                                                        : 'text-gray-400'
                                                }}"
                                                [svgIcon]="
                                                    'heroicons_outline:envelope'
                                                "
                                            ></mat-icon>
                                        </div>
                                        <!-- IsLoginAllowed -->
                                        <div class="ml-6">
                                            <mat-icon
                                                class="text-2xl {{
                                                    user.isLoginAllowed
                                                        ? 'text-green-500'
                                                        : 'text-gray-400'
                                                }}"
                                                [svgIcon]="
                                                    'heroicons_outline:wifi'
                                                "
                                            ></mat-icon>
                                        </div>
                                        <!-- Is Enabled -->
                                        <div class="ml-6">
                                            <mat-icon
                                                class="ml-auto text-2xl {{
                                                    user.isEnabled
                                                        ? 'text-green-500'
                                                        : 'text-gray-400'
                                                }}"
                                                [svgIcon]="
                                                    'heroicons_outline:check'
                                                "
                                            ></mat-icon>
                                        </div>
                                    </div>
                                </a>
                            }
                        } @else {
                            <div
                                class="border-t p-8 text-center text-4xl font-semibold tracking-tight sm:p-16"
                            >
                                {{ 'HOME.USERS.NO_USERS' | transloco }}
                            </div>
                        }
                    }

                    <!-- No users -->
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
